{
  "root": true,
  "parser": "babel-eslint",

  "plugins": [
    "react"
  ],

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "rules": {
    "semi": [2, "always"],
    "keyword-spacing": 2,
    "space-infix-ops": 2,
    "space-before-blocks": 2,
    "array-bracket-spacing": [2, "never"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-spacing": [2, {"before": false, "after": true}],
    "computed-property-spacing": [2, "never"],
    "eol-last": 2,
    "no-case-declarations": 0,
    "no-console": [1, { "allow": ["warn", "error", "info"] }],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-trailing-spaces": 2,
    "semi-spacing": [2, {"before": false, "after": true}],
    "space-in-parens": [2, "never"],
    "space-unary-ops": 2,
    "no-unused-vars": [2, {"varsIgnorePattern": "ReactDOM"}],
    "react/display-name": 0,
    // disabling for now since there are too many components without PropTypes
    "react/prop-types": 0    
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },

  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "amd": true,
    "mocha": true,
    "phantomjs": true,
    "es6": true
  },

  "globals": {
    "document": true,
    "window": true,
    "location": true,
    "alert": true,
    "console": true,
    "clearInterval": true,
    "setInterval": true,
    "setTimeout": true,
    "prompt": true,
    "confirm": true,

    "jQuery": true,
    "Backbone": true,
    "$": true,
    "_": true,
    "require": true,
    "module": true,
    "sinon": true,
    "it": true,
    "describe": true,
    "beforeEach": true,
    "afterEach": true,
    "before": true,
    "after": true,
    "define": true,
    "expect": true,
    "prettyPrint": true,
    "jest": true
  }

}
