{
  "root": true,

  "plugins": [
    "react"
  ],

  "rules-todo": {

    "space-unary-ops": 2,
    "camelcase": 2
  },

  "rules": {
    "semi": [2, "always"],
    "no-undef": 2,
    "keyword-spacing": 2,
    "space-infix-ops": 2,
    "space-before-blocks": 2,
    "array-bracket-spacing": [2, "never"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "comma-spacing": [2, {"before": false, "after": true}],
    "computed-property-spacing": [2, "never"],
    "eol-last": 2,
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-trailing-spaces": 2,
    "semi-spacing": [2, {"before": false, "after": true}],
    "no-empty": 2,
    "space-in-parens": [2, "never"]
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "amd": true,
    "mocha": true,
    "phantomjs": true,
    "es6": true
  },

  "globals": {
    "document": true,
    "window": true,
    "location": true,
    "alert": true,
    "console": true,
    "clearInterval": true,
    "setInterval": true,
    "setTimeout": true,
    "prompt": true,
    "confirm": true,

    "jQuery": true,
    "Backbone": true,
    "$": true,
    "_": true,
    "require": true,
    "module": true,
    "sinon": true,
    "it": true,
    "describe": true,
    "beforeEach": true,
    "afterEach": true,
    "before": true,
    "after": true,
    "define": true,

    "Spinner": true,
    "prettyPrint": true
  }

}
