*.log
node_modules
dist
build
app/load_addons.js
!app/addons/
app/addons/*
!app/addons/activetasks
!app/addons/config
!app/addons/cluster
!app/addons/components
!app/addons/replication
!app/addons/auth
!app/addons/permissions
!app/addons/verifyinstall
!app/addons/compaction
!app/addons/fauxton
!app/addons/databases
!app/addons/documents
!app/addons/documentation
!app/addons/styletests
!app/addons/cors
!app/addons/setup
!app/addons/search
!app/addons/news
settings.json*
i18n.json
!settings.json.default
!settings.json.default.json
!i18n.json.default.json
test/test.config.js
app/initialize.js
assets/scss/_variable_overrides.scss
.module-cache
test/nightwatch_tests/nightwatch.json
test/nightwatch_tests/reports/*
test/nightwatch_tests/selenium/*
!test/nightwatch_tests/selenium/.gitkeep
.DS_Store
selenium-debug.log
npm-debug.log
test/bundle.js
test/bundle.dev.js
test/templates.js
test/dashboard.assets
# test coverage dir
coverage

# Jetbrains IDE
.idea/

fonttest
