node_modules
dist
build
app/load_addons.js
!app/addons/
app/addons/*
!app/addons/activetasks
!app/addons/config
!app/addons/plugins
!app/addons/replication
!app/addons/contribute
!app/addons/auth
!app/addons/exampleAuth
!app/addons/permissions
!app/addons/verifyinstall
!app/addons/compaction
!app/addons/fauxton
!app/addons/pouchdb
!app/addons/databases
!app/addons/documents
!app/addons/styletests
settings.json*
!settings.json.default
!assets/js/plugins/zeroclipboard/ZeroClipboard.swf
test/test.config.js
app/initialize.js
.module-cache
test/nightwatch_tests/nightwatch.json
test/nightwatch_tests/reports/*
test/nightwatch_tests/selenium/*
!test/nightwatch_tests/selenium/.gitkeep
.DS_Store
*.react.js
