language: node_js
node_js:
   - "8.9"
sudo: false
services:
  - docker
git:
  depth: 1

before_script:
  - travis_retry ./bin/docker-up-and-check.sh
  - npm install -g npm@latest
  - npm ci
  - curl http://127.0.0.1:5984
  - npm run stylecheck
  - npm test
  - grunt debugDev
  - DIST=./dist/debug ./bin/fauxton &
  - sleep 30
script:
  - ./node_modules/.bin/grunt nightwatch_retries
after_script:
  - npm run docker:down

cache:
  - apt
  - directories:
    - "$HOME/.npm"
