language: node_js
node_js:
   - 6
sudo: false
services:
  - docker
git:
  depth: 1

before_script:
  - npm run docker:up
  - npm install
  - docker logs couchdb
  - docker logs selenium
  - curl http://127.0.0.1:5984
  - npm run stylecheck
  - grunt debugDev
  - DIST=./dist/debug ./bin/fauxton &
  - sleep 30
  - docker logs couchdb
  - curl http://127.0.0.1:5984
script:
  - travis_retry npm run $COMMAND
after_script:
  - npm run docker:down

env:
  COMMAND=nightwatch
  COMMAND=test
cache: apt
