language: erlang
otp_release:
   - 17.4
git:
  depth: 10

addons:
  firefox: "38.0.1"
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq flashplugin-installer
  - sudo apt-get -y install libicu-dev libmozjs-dev pkg-config help2man libcurl4-openssl-dev
  - sudo apt-get -y install libtool automake autoconf autoconf-archive
  - sudo apt-get -y install haproxy
  - nvm install 6 && nvm use 6

  - cd ..
  - git clone --depth=1 https://github.com/apache/couchdb
  - cd couchdb
  - ./configure --disable-docs
  - make
  - ./dev/run --admin=tester:testerpass &
  - haproxy -f rel/haproxy.cfg &
  - cd .. && cd couchdb-fauxton
  - npm install

  - export DISPLAY=:99.0
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1400x900x16"

before_script:
  - npm run stylecheck
  - npm test
  - grunt debugDev
  - DIST=./dist/debug ./bin/fauxton &
  - sleep 30
script:
  - ./node_modules/grunt-cli/bin/grunt nightwatch

cache: apt

git:
  depth: 1
