@import "variables.less";
@import "mixins.less";


/* new flex layout for templates. "body #dashboard" needed for specificity: will remove at end */
body #dashboard .flex-layout {
  .display-flex();

  &.flex-cols {
    .flex-direction(column);
  }
  &.flex-rows {
    .flex-direction(row);
  }

  /* overrides */
  padding: 0;
  &>div {
    padding: 0;
  }
  /* end overrides */

  /* always default all child elements as flex items */
  &>* {
    .flex(1);
  }

  /* notice we don't set heights. Flex will expand to fill the content but no more */
  #dashboard-upper-content {
    .flex(0 0 auto);
  }
  #dashboard-lower-content {
    padding: @panelPadding;
  }

  #footer {
    .flex(0 0 auto);
  }
}

/* can be added to any element in a display:flex element that you want to act as the main body. It expands to the
   available space and shows a scrollbar */
.flex-body {
  .flex(1);
  overflow: auto;
}

/* used on the databases page. To be removed once moved to flexbox */
.one-pane #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 -20px;
}
