.faux-navbar {
  margin-top: 64px;
  background-color: #3A2C2B;
}

.faux-navbar__itemarea {
  font-size: 16px;
  font-weight: normal;
  font-family: helvetica;
  .box-sizing(border-box);
  background-color: #564E4C;
  border-bottom: 1px solid #3A2C2B;
  height: 48px;
  list-style-type: none;
}
