.faux-navbar {
  background-color: @brandDark2;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  overflow-x: hidden;
  overflow-y: auto;
}

.faux-navbar nav {
  height: 100%;
}

.faux-navbar__linkcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.faux-navbar__itemarea {
  .box-sizing(border-box);
  border-bottom: 1px solid @brandDark2;
  height: 48px;
  padding: 10px 20px;
  line-height: 24px;
}

.faux-navbar__version-footer {
  color: @buttonText;
  font-size: 10px;
  text-align: center;
  background-color: @brandDark2;
  padding-bottom: 10px;
}

.faux-navbar__burger {
  background-color: @brandDark2;
  padding: 19px 0 18px 18px;
}

.faux-navbar--narrow {
  width: @collapsedNavWidth;
}

.faux-navbar--wide {
  width: @navWidth;
}

.faux-navbar__burger:hover .faux-navbar__burger__icon {
  color: @navIconActive;
}

.faux-navbar__burger__icon {
  color: @navIconColor;
  font-size: 27px;
}

.faux-navbar__burger__icon--flipped:before{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.faux-navbar__link, .faux-logout__link, .faux-login__link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.faux-navbar__link--active {
  background-color: @brandHighlight;
  text-decoration: none;
}

.faux-navbar__link--inactive {
  background-color: @brandDark1;
}

.faux-navbar__link:hover, .faux-logout__link:hover, .faux-login__link:hover {
  background-color: @hoverHighlight;
  text-decoration: none;
}

.faux-navbar__link:active, .faux-navbar__link:focus {
  text-decoration: none;
}

.faux-navbar__link:hover .faux-navbar__icon:before {
  color: @navIconActive;
}

.faux-navbar__link--active .faux-navbar__icon:before {
  color: @navIconActive;
}

.faux-navbar__icon {
  margin-right: 14px;
  color: @navIconColor;
  font-size: 24px;
  vertical-align: middle;
  position: relative;
}

.faux-navbar__icon-badge:after {
  content:"";
  position: absolute;
  background: @hoverHighlight;
  border: 1px solid @hoverHighlight;
  height:8px;
  width:8px;
  top:0;
  right:-2px;
  text-align: center;
  font-size: 0.5rem;
  border-radius: 50%;
}

.faux-navbar__link:hover .faux-navbar__icon-badge:after {
  border-color: @navIconActive;
}

.faux-navbar__link--active .faux-navbar__icon-badge:after {
  border-color: @navIconActive;
}

.faux-navbar__text {
  margin: 0;
  color: @buttonText;
  vertical-align: middle;
  font-size: 16px;
  font-weight: normal;
  font-family: Helvetica,sans-serif;
  font-weight: 400;
}

.faux-navbar__logout__text {
  font-size: 12px;
  color: @buttonText;
}

.faux-navbar__logout__textcontainer {
  text-align: center;
  color: @buttonText;
}

.faux-navbar__logout__textcontainer--narrow {
  padding-bottom: 4px;
  padding: 15px 0;
}

.faux-navbar__logout__textcontainer--wide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 15px;
}

.faux-navbar__login__textcontainer {
  text-align: center;
  color: @buttonText;
}

.faux-navbar__login__textcontainer--narrow {
  padding-bottom: 4px;
  padding: 15px 0;
}

.faux-navbar__login__textcontainer--wide {
  padding: 15px;
}

.faux-navbar__brand {
  margin: 20px 0 20px 0;
  height: 50px;
  padding: 10px 10px 10px 10px;
  float: none;
  background: @brandDark2;
}

.faux-navbar__brand-logo {
  display: block;
  height: 100%;
  margin-top: 10px;
}

.faux-navbar__brand-logo--wide {
  background: url(@largeLogoPath) no-repeat 23px 0px;
  background-size: 150px;
  width: 200px;
}

.faux-navbar__brand-logo--narrow {
  width: 43px;
  height: 40px;
  background: url(@smallLogoPath) no-repeat 3px 0;
  background-size: 40px;
}

.faux-navbar__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  min-height: 200px;
  width: 100%;
}

.faux-navbar__logout__username {
  color: @buttonText;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  white-space: nowrap;
  padding-right: 5px;
  padding-left: 10px;
  font-size: 12px;
}
