@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/mixins";

.clipboard-copy-element {
  i:before {
    margin-right: 0px;
  }
}

button.clipboard-copy-element {
  background: transparent;
  border: 0;
  &:hover {
    color: $cf-brand-hightlight-hover;
  }
}

#perma-warning {
  background-color: $cf-white;
  height: 3.5rem;
  border-bottom-style: solid;
  border-width: 2px;
  border-top-style: solid;
  border-color: $cf-brand-highlight;
  overflow-y: auto;
}

.perma-warning__content {
  margin: 0rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: $cf-brand-highlight;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
