.faux--accordion {
  list-style: none;
  margin: 0px;
  width: 100%;
}

.faux--accordion__item {
  background-color: transparent;
  transition: all 0.5s linear;
}

.faux--accordion__item-header {
  border: 0;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  padding-left: 0px;
  span {
    padding-left: 0.5rem;
  }
}

.faux--accordion__item-content {
  padding-left: 1.35rem;
  padding-top: 0.75rem;
  font-size: inherit;
}
