/** used in changes.html **/
.change-box {
  margin: 0 20px 20px 20px;
}
.searchbox-container {
  position: fixed;
  right: 15px;
}

.changes-view {
  padding-top: 70px;
}

.change-wrapper {
  margin-top: 20px;
  border-bottom: 1px solid #dddddd;
  &:last-child {
    border-bottom: none;
  }
  .row-fluid {
    padding: 4px 0 4px 0;
  }
  .row-fluid:first {
    padding: 0px 0 4px 0;
  }
  a:hover.js-copy {
    text-decoration: none;
  }
  .js-json-container {
    display: none;
  }
  .span2 {
    font-weight: bold;
  }
}

.changes-header {
  padding-top: 30px;
  height: 160px;
  border-bottom: 1px solid #999999;
  .label {
    float: left;
    margin-right: 5px;
  }
  .js-filter-form {
    padding-right: 15px;
    margin: 0;
  }
}
